/*

TEMPLATE:

identifier {
	--variables
	* additional variables

	content, z-index
	* other important

	position
	top, bottom, left right
	transform
	* other positioning

	width, height
	margin, padding
	overflow
	* other size related

	display
	flex-stuff, grid-stuff
	* other children related positioning

	background
	color
	border
	filter, opacity, visibility
	* other looks related
	
	font-family, font-weight, font-style, user-select
	* othe font related
	
	pointer-info
	* other mouse related
	
	transition
	* other
}

FLEX-TEMPLATE {
	display: flex;
	flex-direction: ;
	flex-wrap: ;
	justify-content: ;
	align-items: ;
	align-content: ;
	gap: ;
}

*/

/* imports */

@font-face {
	font-family: Oswald;
	src: url("./assets/Oswald.ttf");
}
@font-face {
	font-family: Fraunces;
	src: url("./assets/Fraunces.ttf");
}
@font-face {
	font-family: Lato;
	src: url("./assets/Lato.ttf");
}
@font-face {
	font-family: NotoMusic;
	src: url("./assets/NotoMusic.ttf");
}
@font-face {
	font-family: Bravura;
	src: url("./assets/Bravura.otf");
}

/* all and customs */

#_ {
	position: absolute;
	top: 10px;
	right: 10px;
	
	color: var(--v5);
	
	font-size: 40px;
	font-family: monospace;
}

:root {
	--t: 0s;
	
	--legacy: 0;
}

* {
	font-family: Oswald;
}

@property --circ {
	syntax: "<percentage>";
	inherits: true;
	initial-value: 0%;
}
button, .button {
	border: none;
}
button:not(.override), .button:not(.override) {
	--bg: var(--v3-4);
	--fg: var(--v5);
	--bgh: var(--v5);
	--fgh: var(--v0);
	--bgd: var(--v3-2);
	--fgd: var(--v4);
	--circ: 0%;
	--circ-scale: 125%;
	
	position: relative;
	
	padding: 10px 30px;
	
	background: radial-gradient(
		circle,
		var(--bgh) 0%,
		var(--bgh) var(--circ),
		transparent var(--circ),
		transparent 500%
	), var(--bg);
	border-radius: calc(var(--legacy) * 10px);
	color: var(--fg);
	
	transition: --circ var(--t), background var(--t), color var(--t);
}
button:not(.override).round, .button:not(.override).round {
	--circ-scale: 70.71%;
	--size: 30px;
	
	width: var(--size);
	height: var(--size);
	padding: 0px;
	
	border-radius: var(--size);
}
button:not(.override).accent, .button:not(.override).accent {
	--bg: linear-gradient(135deg, var(--a0) 0%, var(--a1) 100%);
	--bgd: linear-gradient(135deg, var(--a0-8) 0%, var(--a1-8) 50%);
}
button:not(.override):not(:disabled):hover, .button:not(.override):not(.disabled):hover {
	--circ: var(--circ-scale);
	
	color: var(--fgh);
}
button:not(.override):disabled, .button:not(.override).disabled {
	--circ: 0%;
	
	background: radial-gradient(
		circle,
		var(--bgh) 0%,
		var(--bgh) var(--circ),
		transparent var(--circ),
		transparent 500%
	), var(--bgd);
	color: var(--fgd);
}

input {
	padding: 0px;
	margin: 0px;
	
	background-color: var(--v5);
	color: var(--v0);
	border: none;
	outline: none;
}
input::placeholder {
	color: var(--v1-8);
	
	font-style: italic;
}


a {
	color: var(--v3);
	
	text-decoration: none;
	
	transition: color var(--t);
}
a:hover {
	color: var(--v5);
}

/*
ion-icon {
	--ionicon-stroke-width: 64px;
}
*/

label.switch {
	--w: 45px;
	--h: 20px;
	--p: 2px;
	
	position: relative;
	  
	width: var(--w);
	height: var(--h);
	  
	display: inline-block;
}
label.switch > input {
	width: 0px;
	height: 0px;
  
	opacity: 0%;
}
label.switch > span.slider {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
  
	background-color: var(--cr);
	border-radius: var(--h);
  
	cursor: pointer;
  
	transition: var(--t);
}
label.switch > span.slider::after {
	content: "";
  
	position: absolute;
	top: var(--p);
	left: var(--p);
  
	height: calc(var(--h) - var(--p)*2);
	width: calc(var(--h) - var(--p)*2);
  
	background-color: var(--v5);
	border-radius: 100%;
  
	transition: var(--t);
}
label.switch:has(input:checked) > span.slider {
	background-color: var(--cg);
}
label.switch:has(input:checked) > span.slider::after {
	transform: translateX(calc(var(--w) - var(--h)));
}
label.switch > div.tooltip > span:nth-child(1) {
	display: none;
}
label.switch > div.tooltip > span:nth-child(2) {
	display: inline;
}
label.switch:has(input:checked) > div.tooltip > span:nth-child(1) {
	display: inline;
}
label.switch:has(input:checked) > div.tooltip > span:nth-child(2) {
	display: none;
}

div.colorbox {
	--color: var(--v0);
	--border: var(--v5);
	
	width: 25px;
	height: 25px;
	
	background-color: var(--color);
	border: 2px solid var(--border);
}

div.loading {
	--size: 10px;
	--color: var(--v5);
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
div.loading > div {
	position: relative;
	
	width: calc(var(--size)*3 + var(--size)*0.5*(3-1));
	height: var(--size);
}
div.loading > div > div {
	position: absolute;
	top: 0px;
	left: calc(var(--size) / 4);
	
	width: var(--size);
	height: var(--size);
	border-radius: var(--size);
	
	background-color: var(--color);
	
	transition: background-color var(--t);
}
div.loading > div > div:nth-child(1) {
	--i: 0;
	animation: loading-in 1s ease-in-out infinite;
}
div.loading > div > div:nth-child(2) {
	--i: 0;
	animation: loading-move 1s ease-in-out infinite;
}
div.loading > div > div:nth-child(3) {
	--i: 1;
	animation: loading-move 1s ease-in-out infinite;
}
div.loading > div > div:nth-child(4) {
	--i: 2;
	animation: loading-out 1s ease-in-out infinite;
}
@keyframes loading-in {
	0% {
		transform: translateX(calc(var(--i) * (var(--size)*1.5))) scale(0%);
	}
	75%, 100% {
		transform: translateX(calc(var(--i) * (var(--size)*1.5))) scale(100%);
	}
}
@keyframes loading-out {
	0% {
		transform: translateX(calc(var(--i) * (var(--size)*1.5))) scale(100%);
	}
	75%, 100% {
		transform: translateX(calc(var(--i) * (var(--size)*1.5))) scale(0%);
	}
}
@keyframes loading-move {
	0% {
		transform: translateX(calc(var(--i) * (var(--size)*1.5))) translateX(0px);
	}
	75%, 100% {
		transform: translateX(calc(var(--i) * (var(--size)*1.5))) translateX(calc(var(--size)*1.5));
	}
}
div.colorbox > div.tooltip:has(div.colorbox) {
	padding: 5px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	gap: 5px;
}

:has(div.tooltip) {
	position: relative;
}
div.tooltip {
	--padding: 10px;
	--trans-x: 0%;
	--trans-y: 0%;
	--scale-x: 100%;
	--scale-y: 100%;
	
	position: absolute;
	transform: translate(var(--trans-x), var(--trans-y)) scale(100%);
	
	width: max-content;
	padding: 5px 10px;
	
	background-color: var(--v0);
	color: var(--v5);
	border-radius: calc(var(--legacy) * 10px);
	
	font-size: 14px;
	
	pointer-events: none;
	
	transition: transform var(--t);
}
div.tooltip.hov {
	transform: translate(var(--trans-x), var(--trans-y)) scale(var(--scale-x), var(--scale-y));
}
:not(:disabled):hover > div.tooltip.hov,
:not(.disabled).hover > div.tooltip.hov {
	transform: translate(var(--trans-x), var(--trans-y)) scale(100%);
}
div.tooltip::before {
	--trans-x: 0%;
	--trans-y: 0%;
	
	content: "";
	z-index: -1;
	
	position: absolute;
	transform: translate(var(--trans-x), var(--trans-y)) rotate(45deg);
	
	width: var(--padding);
	height: var(--padding);
	
	background-color: var(--v0);
}

div.tooltip.side-r,
div.tooltip.side-l {
	--scale-x: 50%;
	--scale-y: 0%;
}
div.tooltip.side-r { left: calc(100% + var(--padding)); }
div.tooltip.side-l { right: calc(100% + var(--padding)); }
div.tooltip.side-r:not(.float-t):not(.float-b),
div.tooltip.side-l:not(.float-t):not(.float-b) {
	--trans-y: -50%;
	
	top: 50%;
}
div.tooltip.side-r.float-t:not(.float-b),
div.tooltip.side-l.float-t:not(.float-b) { top: 0%; }
div.tooltip.side-r.float-b:not(.float-t),
div.tooltip.side-l.float-b:not(.float-t) { bottom: 0%; }
div.tooltip.side-r::before,
div.tooltip.side-l::before { --trans-x: -50%; }
div.tooltip.side-r::before { left: 0%; }
div.tooltip.side-l::before { left: 100%; }
div.tooltip.side-r:not(.float-t):not(.float-b)::before,
div.tooltip.side-l:not(.float-t):not(.float-b)::before,
div.tooltip.side-r.float-t.float-b::before,
div.tooltip.side-l.float-t.float-b::before {
	--trans-y: -50%;
	top: 50%;
}
div.tooltip.side-r.float-t:not(.float-b)::before,
div.tooltip.side-l.float-t:not(.float-b)::before {
	top: calc(var(--padding) * 0.205);
}
div.tooltip.side-r.float-b:not(.float-t)::before,
div.tooltip.side-l.float-b:not(.float-t)::before {
	bottom: calc(var(--padding) * 0.205);
}

div.tooltip.side-t,
div.tooltip.side-b {
	--scale-x: 0%;
	--scale-y: 50%;
}
div.tooltip.side-t { bottom: calc(100% + var(--padding)); }
div.tooltip.side-b { top: calc(100% + var(--padding)); }
div.tooltip.side-t:not(.float-r):not(.float-l),
div.tooltip.side-b:not(.float-r):not(.float-l) {
	--trans-x: -50%;
	
	left: 50%;
}
div.tooltip.side-t.float-r:not(.float-l),
div.tooltip.side-b.float-r:not(.float-l) { right: 0%; }
div.tooltip.side-t.float-l:not(.float-r),
div.tooltip.side-b.float-l:not(.float-r) { left: 0%; }
div.tooltip.side-t::before,
div.tooltip.side-b::before { --trans-y: -50%; }
div.tooltip.side-t::before { top: 100%; }
div.tooltip.side-b::before { top: 0%; }
div.tooltip.side-t:not(.float-r):not(.float-l)::before,
div.tooltip.side-b:not(.float-r):not(.float-l)::before,
div.tooltip.side-t.float-r.float-l::before,
div.tooltip.side-b.float-r.float-l::before {
	--trans-x: -50%;
	left: 50%;
}
div.tooltip.side-t.float-r:not(.float-l)::before,
div.tooltip.side-b.float-r:not(.float-l)::before {
	right: calc(var(--padding) * 0.205);
}
div.tooltip.side-t.float-l:not(.float-r)::before,
div.tooltip.side-b.float-l:not(.float-r)::before {
	left: calc(var(--padding) * 0.205);
}

div.tooltip.side-r:not(.float-t):not(.float-b),
div.tooltip.side-r.float-t.float-b { transform-origin: 0% 50%; }
div.tooltip.side-r.float-t:not(.float-b) { transform-origin: 0% 0%; }
div.tooltip.side-r.float-b:not(.float-t) { transform-origin: 0% 100%; }

div.tooltip.side-l:not(.float-t):not(.float-b),
div.tooltip.side-l.float-t.float-b { transform-origin: 100% 50%; }
div.tooltip.side-l.float-t:not(.float-b) { transform-origin: 100% 0%; }
div.tooltip.side-l.float-b:not(.float-t) { transform-origin: 100% 100%; }

div.tooltip.side-t:not(.float-r):not(.float-l),
div.tooltip.side-t.float-r.float-l { transform-origin: 50% 100%; }
div.tooltip.side-t.float-r:not(.float-l) { transform-origin: 100% 100%; }
div.tooltip.side-t.float-l:not(.float-r) { transform-origin: 0% 100%; }

div.tooltip.side-b:not(.float-r):not(.float-l),
div.tooltip.side-b.float-r.float-l { transform-origin: 50% 0%; }
div.tooltip.side-b.float-r:not(.float-l) { transform-origin: 100% 0%; }
div.tooltip.side-b.float-l:not(.float-r) { transform-origin: 0% 0%; }

:has(div.bannertag) {
	position: relative;
}
div.bannertag {
	--padding: 10px;
	
	position: absolute;
	top: 0%;
	right: 0%;
	transform: translate(var(--padding), calc(-1 * var(--padding)));
	
	padding: 5px 10px;
	
	background: linear-gradient(135deg, var(--a0) 0%, var(--a1) 100%);
	color: var(--v5);
	border-radius: 0px calc(var(--legacy) * 10px) 0px calc(var(--legacy) * 10px);
	
	font-size: 12px;
}
div.bannertag::before {
	content: "";
	
	position: absolute;
	top: 100%;
	right: 0%;
	
	width: 0px;
	height: 0px;
	
	border-style: solid;
	border-width: var(--padding) var(--padding) 0 0;
	border-color: var(--a12) transparent transparent transparent;
}

:has(div.notification) {
	position: relative;
}
div.notification {
	position: absolute;
	top: 0%;
	right: 0%;
	transform: translate(7.5px, -50%) scale(0%);
	
	min-width: 9px;
	height: 15px;
	padding: 0px 3px;
	
	background-color: var(--a1);
	color: var(--v5);
	border-radius: 15px;
	
	font-size: 10px;
	
	transition: transform var(--t);
}
div.notification.on {
	transform: translate(7.5px, -50%) scale(100%);
}

/* body */

body {
	position: absolute;
	
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	
	background-color: #000;
	
	/*
	animation: haha-rgb 10s infinite;
	*/
}
@keyframes haha-rgb {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
body > #background {
	z-index: -1;
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	background-color: var(--v1);
}
body > #background > .outer {
	opacity: 0%;
	visibility: hidden;
	
	transition: opacity var(--t), visibility var(--t);
	
	mix-blend-mode: multiply;
}
body > #background.on > .outer {
	opacity: 5%;
	visibility: inherit;
}
body > #background > .outer > canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
body > #background > .outer > #canvas {
	filter: blur(20px) contrast(10000000%);
}
body > #background > #over {
	visibility: inherit;
}

/* pages */

body > .page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	height: 100%;
	
	opacity: 0%;
	visibility: hidden;
	
	transition: opacity var(--t), visibility var(--t);
}
body > .page.this {
	opacity: 100%;
	visibility: inherit;
}
body > .page.single {
	--padding: 20px;
}
body > .page.single > .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 10px;
}

/* banner stripe */

#bannerstripe {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	height: 100%;
	
	background-color: var(--v0-2);
}

/* top nav */

#topnav {
	position: absolute;
	top: 50px;
	right: 100px;
	transform: scaleX(75%);
	
	opacity: 0%;
	visibility: hidden;
	
	transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#topnav.this {
	transform: scaleX(100%);
	
	opacity: 100%;
	visibility: inherit;
}
#topnav > div {
	position: absolute;
	top: 0%;
	right: 0%;
	transform: scaleX(75%);
	
	height: 100%;
	
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: center;
	gap: 0px;
	
	opacity: 0%;
	visibility: hidden;
	
	transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#topnav > div.this {
	transform: scaleX(100%);
	
	opacity: 100%;
	visibility: inherit;
}
#topnav > div > button,
#topnav > div > .account {
	min-width: 75px;
	width: max-content;
	padding: 10px 20px;
	
	border-radius: 0px;
}
#topnav > div > button:first-child,
#topnav > div > .account:first-child {
	border-radius: 0px calc(var(--legacy) * 10px) calc(var(--legacy) * 10px) 0px;
}
#topnav > div > button:last-child,
#topnav > div > .account:last-child {
	border-radius: calc(var(--legacy) * 10px) 0px 0px calc(var(--legacy) * 10px);
}
#topnav > div > button:first-child:last-child,
#topnav > div > .account:first-child:last-child {
	border-radius: calc(var(--legacy) * 10px);
}
#topnav > div.loggedin > #projectsbtn,
#topnav > div.loggedin > #messagesbtn {
	--circ-scale: 160%;
	
	position: relative;
	
	min-width: min-content;
	width: 40px;
	padding: 10px;
}
#topnav > div.loggedin > .account {
	min-height: max-content;
	padding: 0px;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	
	border-bottom-left-radius: calc(var(--legacy) * 0px);
	
	transition: border-radius var(--t);
}
#topnav > div.loggedin > .account.this {
	border-bottom-left-radius: calc(var(--legacy) * 10px);
}
#topnav > div.loggedin > .account > button {
	padding: 10px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	gap: 0px;
	
	text-align: left;
	
	border-radius: 0px;
}
#topnav > div.loggedin > .account > button > .picture {
	width: 20px;
	min-width: 20px;
	aspect-ratio: 1 / 1;
	margin-right: 10px;
	
	background-color: var(--a1);
	border-radius: 100%;
	
	text-align: center;
}
#topnav > div.loggedin > .account > button > .picture ion-icon {
	color: var(--v5);
}
#topnav > div.loggedin > .account > button > span {
	flex-basis: 100%;
}
#topnav > div.loggedin > .account > button ion-icon[name="chevron-back"] {
	transform: rotate(0deg);
	
	font-size: 20px;
	
	transition: transform var(--t);
}
#topnav > div.loggedin > .account.this > button ion-icon[name="chevron-back"] {
	transform: rotate(-90deg);
}
#topnav > div.loggedin > .account > .content {
	max-height: 0px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	
	visibility: hidden;
	
	transition: max-height var(--t), opacity var(--t), visibility var(--t);
}
#topnav > div.loggedin > .account.this > .content {
	max-height: 200px;
	
	visibility: inherit;
}
#topnav > div.loggedin > .account > .content > .divider {
	position: relative;
	
	min-height: 3px;
	
	background-color: var(--v3-4);
}
#topnav > div.loggedin > .account > .content > .divider::before {
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: calc(100% - 20px);
	height: 100%;
	
	background-color: var(--v3-8);
}
#topnav > div.loggedin > .account > .content > button {
	padding-left: 10px;
	
	border-radius: 0px;
	
	text-align: left;
}
#topnav > div.loggedin > .account > .content > button ion-icon {
	margin-right: 10px;
}

/* title page */

#TITLEPAGE > .inner {
	position: relative;
	
	width: max-content;
	height: 100%;
	padding: 0px 100px;
}
#TITLEPAGE > .inner > .tag {
	position: absolute;
	top: 10px;
	right: 100px;
	
	color: var(--v3);
}
#TITLEPAGE > .inner > .title {
	color: var(--v5);
	
	font-size: 100px;
	font-weight: 700;
	user-select: none;
}
#TITLEPAGE > .inner > .title span {
	position: relative;
}
#TITLEPAGE > .inner > .title span > div {
	position: absolute;
	top: 27.5%;
	left: 17.5%;
	
	width: 65%;
	height: 50%;
	border-radius: 100%;
	
	background-color: var(--v5);
	
	font-size: 50px;
}
#TITLEPAGE > .inner > .title span > div div {
	--px: 1px;
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: 50% 60%;
	transform: translate(-50%, -50%) rotate(-10deg) translate(2px, 20px);
	
	color: var(--v1);
	
	font-family: Bravura;
	font-weight: 700;
	user-select: none;
}
#TITLEPAGE > .inner > .nav {
	align-self: stretch;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	gap: 10px;
}
#TITLEPAGE > .inner > .nav > button {
	width: 100%;
	
	font-size: 16px;
}
#TITLEPAGE > .inner > .info {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	
	width: calc(100% - 200px);
	
	color: var(--v3);
	
	text-align: center;
}
#TITLEPAGE > .inner > .info > #titlesettingsbtn {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
}

/* login page */

#LOGINPAGE > .inner {
	width: max-content;
	height: calc(100% - 200px);
	padding: 100px;
	
	justify-content: flex-start;
}
#LOGINPAGE > .inner > .title {
	align-self: stretch;
	
	position: relative;
	
	padding: 0px 50px;
	
	color: var(--v5);
	
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}
#LOGINPAGE > .inner > .title > button.back {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}
#LOGINPAGE > .inner > .content {
	width: min(350px, calc(100vw - 100px));
	margin: 20px 0px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	gap: 15px;
}
#LOGINPAGE > .inner > .content > .item {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	gap: 5px;
}
#LOGINPAGE > .inner > .content > .item > div {
	color: var(--v5);
	
	font-size: 16px;
}
#LOGINPAGE > .inner > .content > .item > div > button.see {
	transform: translateY(5px);
	float: right;
	
	background-color: transparent;
	color: var(--v4);
	
	transition: background-color var(--t), color var(--t);
}
#LOGINPAGE > .inner > .content > .item > div > button.see:not(:disabled):hover {
	color: var(--v5);
}
#LOGINPAGE > .inner > .content > .item > div > button.see:disabled {
	color: var(--v4-8);
}
#LOGINPAGE > .inner > .content > .item > input {
	padding: 15px;
	
	border-radius: calc(var(--legacy) * 10px);
	
	font-family: Arial;
}
#LOGINPAGE > .inner > .nav {
	align-self: stretch;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	gap: 10px;
}
#LOGINPAGE > .inner > .nav > button {
	font-size: 16px;
}
#LOGINPAGE > .inner > .nav > .divider {
	position: relative;
	
	color: var(--v5);
	
	font-size: 14px;
	text-align: center;
}
#LOGINPAGE > .inner > .nav > .divider::before {
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 100%;
	height: 3px;
	
	background: linear-gradient(
		90deg,
		var(--v4) 0%,
		var(--v4) calc(50% - 20px),
		var(--v4-0) calc(50% - 20px),
		var(--v4-0) calc(50% + 20px),
		var(--v4) calc(50% + 20px),
		var(--v4) 100%
	);
}
#LOGINPAGE > .inner > .nav > .new {
	color: var(--v4);
	
	text-align: center;
}
#LOGINPAGE > .inner > .nav > .new a {
	color: var(--v4);
}
#LOGINPAGE > .inner > .nav > .new a:hover {
	color: var(--v5);
}

/* join page */

#JOINPAGE > .inner {
	width: max-content;
	height: calc(100% - 200px);
	padding: 100px;
	
	justify-content: flex-start;
}
#JOINPAGE > .inner > .title {
	align-self: stretch;
	
	position: relative;
	
	padding: 0px 50px;
	
	color: var(--v5);
	
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}
#JOINPAGE > .inner > .title > button.back {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}
#JOINPAGE > .inner > .content {
	width: min(350px, calc(100vw - 100px));
	margin: 20px 0px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	gap: 15px;
}
#JOINPAGE > .inner > .content > .item {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	gap: 5px;
}
#JOINPAGE > .inner > .content > .item > div {
	color: var(--v5);
	
	font-size: 16px;
}
#JOINPAGE > .inner > .content > .item > div > button.see {
	transform: translateY(5px);
	float: right;
	
	background-color: transparent;
	color: var(--v4);
	
	transition: background-color var(--t), color var(--t);
}
#JOINPAGE > .inner > .content > .item > div > button.see:not(:disabled):hover {
	color: var(--v5);
}
#JOINPAGE > .inner > .content > .item > div > button.see:disabled {
	color: var(--v4-8);
}
#JOINPAGE > .inner > .content > .item > input {
	padding: 15px;
	
	border-radius: calc(var(--legacy) * 10px);
	
	font-family: Arial;
}
#JOINPAGE > .inner > .content > .item > input.outline {
	margin: 2px;
	
	outline: 2px solid var(--cy);
	
	transition: outline var(--t);
}
#JOINPAGE > .inner > .content > .item > input.outline.wrong {
	outline: 2px solid var(--cr);
}
#JOINPAGE > .inner > .content > .item > input.outline.right {
	outline: 2px solid var(--cg);
}
#JOINPAGE > .inner > .nav {
	align-self: stretch;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	gap: 10px;
}
#JOINPAGE > .inner > .nav > button {
	font-size: 16px;
}
#JOINPAGE > .inner > .nav > .divider {
	position: relative;
	
	color: var(--v5);
	
	font-size: 14px;
	text-align: center;
}
#JOINPAGE > .inner > .nav > .divider::before {
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 100%;
	height: 3px;
	
	background: linear-gradient(
		90deg,
		var(--v4) 0%,
		var(--v4) calc(50% - 20px),
		var(--v4-0) calc(50% - 20px),
		var(--v4-0) calc(50% + 20px),
		var(--v4) calc(50% + 20px),
		var(--v4) 100%
	);
}
#JOINPAGE > .inner > .nav > .old {
	color: var(--v4);
	
	text-align: center;
}
#JOINPAGE > .inner > .nav > .old a {
	color: var(--v4);
}
#JOINPAGE > .inner > .nav > .old a:hover {
	color: var(--v5);
}

/* browse page */

#BROWSEPAGE > .inner {
	width: max-content;
	height: 100%;
	padding: 0px 100px;
}
#BROWSEPAGE > .inner > .title {
	align-self: stretch;
	
	position: relative;
	
	padding: 0px 50px;
	
	color: var(--v5);
	
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}
#BROWSEPAGE > .inner > .title > button.back {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}
#BROWSEPAGE > .inner > .title > #browsewifistatus {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%) translateY(2px);
	
	width: 30px;
	height: ;: 30px;
	
	font-size: 16px;
}
#BROWSEPAGE > .inner > .search {
	align-self: stretch;
	
	position: relative;
	
	overflow: hidden;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	
	background-color: var(--v5);
	border-radius: calc(var(--legacy) * 10px);
}
#BROWSEPAGE > .inner > .search input {
	flex-basis: 100%;
	
	padding: 10px;
	
	background-color: var(--v5);
	
	font-family: Arial;
}
#BROWSEPAGE > .inner > .search > button {
	position: relative;
	
	background-color: transparent;
	
	height: 100%;
	aspect-ratio: 1 / 1;
}
#BROWSEPAGE > .inner > .search > button::before {
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 0px;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
	
	background-color: var(--v4);
	
	transition: width var(--t);
}
#BROWSEPAGE > .inner > .search > button:not(:disabled):hover::before {
	width: 75%;
}
#BROWSEPAGE > .inner > .search > button ion-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: var(--v0);
}
#BROWSEPAGE > .inner > .content {
	width: min(600px, calc(100vw - 200px));
	height: calc(100% - 300px);
	
	padding: 10px; /*calc(var(--legacy) * 10px);*/
	overflow: auto;
	
	background-color: var(--v0-4);
	border-radius: calc(var(--legacy) * 10px);
}
#BROWSEPAGE > .inner > .content > .inner {
	width: 100%;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	gap: 10px; /*calc(var(--legacy) * 10px);*/
}
#BROWSEPAGE > .inner > .content > .inner > .error {
	padding: 10px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	gap: 10px;
	
	background-color: var(--cr-4);
	border-radius: calc(var(--legacy) * 10px);
}
#BROWSEPAGE > .inner > .content > .inner > .error > .info {
	color: var(--cr);
	
	text-align: center;
}
#BROWSEPAGE > .inner > .content > .inner > .error > .nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 5px;
}
#BROWSEPAGE > .inner > .content > .inner > .error > .nav > button {
	padding: 5px 10px;
	
	background-color: transparent;
	color: var(--cr);
	
	transition: color var(--t);
}
#BROWSEPAGE > .inner > .content > .inner > .error > .nav > button:not(:disabled):hover {
	color: var(--v5);
}
#BROWSEPAGE > .inner > .content > .inner > .error > .nav > button:disabled {
	color: var(--cr-2);
}
#BROWSEPAGE > .inner > .content > .inner > .item {
	position: relative;
	
	overflow: hidden;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: center;
	
	background-color: var(--v3-8);
	border-radius: calc(var(--legacy) * 10px);
	
	transition: background-color var(--t);
}
#BROWSEPAGE > .inner > .content > .inner > .item.this {
	background-color: var(--a1-8);
}
#BROWSEPAGE > .inner > .content > .inner > .item::after {
	z-index: 10;
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	
	border-radius: calc(var(--legacy) * 10px);
	border: 3px solid var(--v5);
	opacity: 0%;
	visibility: hidden;
	
	pointer-events: none;
	
	transition: opacity var(--t), visibility var(--t);
}
#BROWSEPAGE > .inner > .content > .inner > .item.this::after {
	opacity: 100%;
	visibility: inherit;
}
#BROWSEPAGE > .inner > .content > .inner > .item > div {
	transition: background-color var(--t);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .play {
	position: relative;
	
	min-width: 30px;
	overflow: hidden;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .play > button {
	z-index: 10;
	
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-50%, -50%) scaleX(75%) rotate(45deg) scale(0%);
	
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 0px;
	
	background-color: var(--v4);
	
	transition: transform var(--t), background-color var(--t);
}
#BROWSEPAGE > .inner > .content > .inner > .item:hover > .play > button,
#BROWSEPAGE > .inner > .content > .inner > .item.this > .play > button {
	transform: translate(-50%, -50%) scaleX(75%) rotate(45deg) scale(100%);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .play > button:not(:disabled):hover,
#BROWSEPAGE > .inner > .content > .inner > .item.this > .play > button {
	background-color: var(--v5);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .info {
	flex-basis: 100%;
	
	padding: 15px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	gap: 5px;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .info > .line {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	gap: 5px;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .info > .line:nth-child(1) {
	font-size: 20px;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .info > .line:nth-child(2) {
	font-size: 12px;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .info > .line div {
	flex-basis: 100%;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .info > .line div:nth-child(1) {
	color: var(--v5);
	
	text-align: left;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .info > .line div:nth-child(2) {
	color: var(--v5);
	opacity: 85%;
	
	text-align: right;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav {
	position: relative;
	
	width: 150px;
	padding: 10px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 10px;
	
	background-color: var(--v3);
}
#BROWSEPAGE > .inner > .content > .inner > .item.this > .nav {
	background-color: var(--a1-4);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > button.like {
	transform: translateY(1px);
	
	margin: 0px;
	padding: 0px;
	
	background: transparent;
	
	font-size: 18px;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > button.like ion-icon {
	color: var(--v4);
	filter: drop-shadow(0px 0px 0px var(--a10-6));
	
	transition: color var(--t), filter var(--t);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > button.like:not(:disabled):hover ion-icon {
	color: var(--v5);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > button.like:disabled ion-icon {
	color: var(--v2);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > button.like.this ion-icon {
	color: var(--cr);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > button.like.this:not(:disabled):hover ion-icon {
	color: var(--cr4);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > button.like.this:disabled ion-icon {
	color: var(--cr2);
}
#BROWSEPAGE > .inner > .content > .inner > .item.this > .nav > button.like ion-icon {
	filter: drop-shadow(0px 0px 5px var(--a10-6));
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > .stars {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 2.5px;
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > .stars ion-icon {
	color: var(--v0-4);
	
	transition: color var(--t);
}
#BROWSEPAGE > .inner > .content > .inner > .item.this > .nav > .stars ion-icon {
	color: var(--a10-6);
}
#BROWSEPAGE > .inner > .content > .inner > .item > .nav > .stars ion-icon.this {
	color: var(--cy);
}
#BROWSEPAGE > .inner > .content > .inner > .item.this > .nav > .stars ion-icon.this {
	color: var(--cy);
}
#BROWSEPAGE > .inner > .nav {
	align-self: stretch;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: center;
	align-content: center;
	gap: 10px;
}
#BROWSEPAGE > .inner > .nav > button {
	flex-basis: 100%;
	
	font-size: 16px;
}

/* settings page */

#SETTINGSPAGE > .inner {
	width: max-content;
	height: 100%;
	padding: 0px 100px;
}
#SETTINGSPAGE > .inner > .title {
	align-self: stretch;
	
	position: relative;
	
	padding: 0px 50px;
	
	color: var(--v5);
	
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}
#SETTINGSPAGE > .inner > .title > button.back {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}
#SETTINGSPAGE > .inner > .content {
	width: min(750px, calc(100vw - 100px));
	height: calc(100% - 200px);
	
	padding: 20px;
	overflow: auto;
	
	background-color: var(--v0-4);
	border-radius: 0px 0px calc(var(--legacy) * 10px) calc(var(--legacy) * 10px);
	border-top: 3px solid var(--v5);
}
#SETTINGSPAGE > .inner > .content > .inner {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 20px;
}
#SETTINGSPAGE > .inner > .content > .inner > .section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 5px;
}
#SETTINGSPAGE > .inner > .content > .inner > .section > .title {
	color: var(--v5);
	
	font-size: 20px;
}
#SETTINGSPAGE > .inner > .content > .inner > .section > .divider {
	height: 2px;
	
	background-color: var(--v4);
}
#SETTINGSPAGE > .inner > .content > .inner > .section > .content {
	padding: 20px 0px;
	padding-left: 10px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 20px;
}
#SETTINGSPAGE > .inner > .content > .inner > .section > .content > .item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: stretch;
}
#SETTINGSPAGE > .inner > .content > .inner > .section > .content > .item > .info {
	flex-basis: 100%;
}
#SETTINGSPAGE > .inner > .content > .inner > .section > .content > .item > .info span:nth-child(1) {
	margin-right: 15px;
	
	color: var(--v5);
}
#SETTINGSPAGE > .inner > .content > .inner > .section > .content > .item > .info span:nth-child(2) {
	color: var(--v3-a);
}
#SETTINGSPAGE > .inner > .content > .inner > .section > .content > .item > .nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	gap: 5px;
}
#SETTINGSPAGE > .inner > .content > .inner > .section > .content > .item > .nav > button {
	width: max-content;
}

/* tuner page */

#TUNERPAGE > .inner {
	width: max-content;
	height: 100%;
	padding: 0px 100px;
	
	gap: 0px;
}
#TUNERPAGE > .inner > .title {
	align-self: stretch;
	
	position: relative;
	
	padding: 0px 50px;
	margin-bottom: 5px;
	
	color: var(--v5);
	
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}
#TUNERPAGE > .inner > .title > button.back {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}
#TUNERPAGE > .inner > .display {
	position: relative;
}
#TUNERPAGE > .inner > .display > .bubble {
	position: relative;
	
	width: min(500px, min(50vw, 50vh));
	aspect-ratio: 1 / 1;
	
	background-color: var(--v0-4);
	border-radius: 100%;
	border: 5px solid var(--v4);
}
#TUNERPAGE > .inner > .display > .bubble > div {
	--color: var(--v5);
	--size: 1;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(var(--size));
	
	width: 100%;
	height: 100%;
	
	background-color: var(--color);
	border-radius: 100%;
	
	transition: transform var(--t), background-color var(--t);
}
#TUNERPAGE > .inner > .display > .nav {
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	gap: 5px;
}
#TUNERPAGE > .inner > .display > .nav > #tunertogglemicbtn {
	--bg: var(--cr-c);
	--size: 50px;
	
	font-size: 30px;
}
#TUNERPAGE > .inner > .display > .nav > #tunertogglemicbtn.wait {
	--bg: var(--cy-c);
}
#TUNERPAGE > .inner > .display > .nav > #tunertogglemicbtn.on {
	--bg: var(--cg-c);
}
#TUNERPAGE > .inner > .display > .nav > #tunertogglemicbtn.wait ion-icon {
	display: none;
}
#TUNERPAGE > .inner > .display > .nav > #tunertogglemicbtn:not(.wait) div.loading {
	--color: var(--v5);
	
	display: none;
}
#TUNERPAGE > .inner > .display > .nav > #tunertogglemicbtn:not(:disabled):hover div.loading {
	--color: var(--v0);
}
#TUNERPAGE > .inner > .display > .nav > #tunertogglemicbtn:disabled div.loading {
	--color: var(--v4);
}
#TUNERPAGE > .inner > .info {
	--color: var(--v5);
	
	align-self: stretch;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}
#TUNERPAGE > .inner > .info > div {
	flex-basis: 100%;
}
#TUNERPAGE > .inner > .info > div.note {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 5px;
}
#TUNERPAGE > .inner > .info > div.note > .name {
	color: var(--color);
	
	font-size: 100px;
}
#TUNERPAGE > .inner > .info > div.note > .side {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: center;
	gap: 10px;
	
	color: var(--color);
}
#TUNERPAGE > .inner > .info > div.note > .side > .accidental {
	transform: translate(3px, -40px);
	
	height: 75px;
	
	font-family: Bravura;
	font-size: 50px;
}
#TUNERPAGE > .inner > .info > div.note > .side > .octave {
	height: 75px;
	
	font-size: 30px;
}
#TUNERPAGE > .inner > .info > div.cents {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#TUNERPAGE > .inner > .info > div.cents > .value {
	color: var(--color);
	
	font-size: 30px;
}
#TUNERPAGE > .inner > .info > div.cents > .label {
	color: var(--v4);
	
	font-size: 20px;
}
#TUNERPAGE > .inner > .info > div.misc {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	color: var(--v4);
}
#TUNERPAGE > .inner > .barinfo {
	color: var(--v5);
}
#TUNERPAGE > .inner > .bar {
	align-self: stretch;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: center;
	
	height: 40px;
	overflow: hidden;
	
	background-color: var(--v0-4);
	border-radius: calc(var(--legacy) * 10px);
}
#TUNERPAGE > .inner > .bar > div {
	--size: 0;
	
	width: calc(100% * var(--size));
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	color: var(--v0-0);
	text-align: center;
	
	transition: color var(--t);
}
#TUNERPAGE > .inner > .bar > div:hover {
	color: var(--v0);
}
#TUNERPAGE > .inner > .bar > div.good {
	background-color: var(--cg);
}
#TUNERPAGE > .inner > .bar > div.mid {
	background-color: var(--cy);
}
#TUNERPAGE > .inner > .bar > div.bad {
	background-color: var(--cr);
}

/* game page */

#GAMEPAGE > .staffs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 100%;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	gap: 50px;
}
#GAMEPAGE > .staffs > .staff {
	--left: 220px;
	--scale: 0.75;
	
	position: relative;
	
	height: calc(200px * var(--scale));
	
	background-color: var(--v0-2);
}
#GAMEPAGE > .staffs > .staff > .ts {
	position: absolute;
	top: 50%;
	left: calc(var(--left) - 100px);
	transform: translateY(-50%) scaleY(var(--scale));
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	color: var(--v5);
}
#GAMEPAGE > .staffs > .staff > .ts > div {
	font-family: Bravura;
	font-size: 205px;
	user-select: none;
}
#GAMEPAGE > .staffs > .staff > .ts > div:nth-child(1) {
	transform: translateY(+362px) scaleX(75%);
}
#GAMEPAGE > .staffs > .staff > .ts > div:nth-child(2) {
	transform: translateY(-362px) scaleX(75%);
}
#GAMEPAGE > .staffs > .staff > .clef {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%) scaleX(75%);
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	color: var(--v5);
	
	font-family: Bravura;
	font-size: 200px;
	user-select: none;
}
#GAMEPAGE > .staffs > .staff > .clef[type="treble"] {
	transform: translateY(-50%) scale(60%, var(--scale)) translateY(45px);
}
#GAMEPAGE > .staffs > .staff > .clef[type="alto"] {
	transform: translateY(-50%) scale(60%, var(--scale)) translateY(0px);
}
#GAMEPAGE > .staffs > .staff > .clef[type="bass"] {
	transform: translateY(-50%) scale(60%, var(--scale)) translateY(-45px);
}
#GAMEPAGE > .staffs > .staff > .clef[type="treble"]::before {
	content: "";
}
#GAMEPAGE > .staffs > .staff > .clef[type="alto"]::before {
	content: "";
}
#GAMEPAGE > .staffs > .staff > .clef[type="bass"]::before {
	content: "";
}
#GAMEPAGE > .staffs > .staff > .line:not(.staff) {
	position: absolute;
	top: 50%;
	left: var(--left);
	transform: translateY(-50%);
	
	width: 3px;
	height: 100%;
	
	background-color: var(--v5);
}
#GAMEPAGE > .staffs > .staff > .line.staff {
	--i: 0;
	
	position: absolute;
	top: calc(25% * var(--i));
	left: 0px;
	transform: translateY(-50%);
	
	width: calc(100% - 0px);
	height: 3px;
	
	background-color: var(--v5);
}
#GAMEPAGE > .staffs > .staff > .line.staff.special {
	left: 0px;
	
	width: 100%;
}
#GAMEPAGE > .staffs > .staff > .inner {
	position: absolute;
	top: 50%;
	left: var(--left);
	transform: translateY(-50%);
	
	width: calc(100% - var(--left));
	height: 100%;
}
#GAMEPAGE > .staffs > .staff > .inner > .item {
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translateY(-50%);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.measure {
	top: 0%;
	transform: translateX(-50%);
	
	width: 3px;
	height: 100%;
	
	background-color: var(--v5);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.measure.final {
	transform: none;
	
	width: 20px;
	
	background-color: transparent;
}
#GAMEPAGE > .staffs > .staff > .inner > .item.measure.final::before {
	content: "";
	
	position: absolute;
	top: 0%;
	left: 0%;
	
	width: 3px;
	height: 100%;
	
	background-color: var(--v5);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.measure.final::after {
	content: "";
	
	position: absolute;
	top: 0%;
	right: 0%;
	
	width: 50%;
	height: 100%;
	
	background-color: var(--v5);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.note {
	height: 25%;
}
#GAMEPAGE > .staffs > .staff > .inner > .item.note > .graphic {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	
	background-color: var(--cp-8);
	border-radius: calc(var(--legacy) * 10px) 50% 50% calc(var(--legacy) * 10px);
	
	transition: background-color var(--t);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.note.wrong > .graphic {
	background-color: var(--cr-8);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.note.right > .graphic {
	background-color: var(--cg-8);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.note > .graphic:nth-child(1) {
	left: -10px;
	
	width: 100%;
	height: calc(100% + 20px);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.note > .graphic:nth-child(2) {
	left: 0px;
	
	width: calc(100% - 20px);
	height: calc(100%);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.note > .content {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	
	color: var(--v5);
	
	font-family: Bravura;
	font-size: calc(190px * var(--scale));
	user-select: none;
	
	transition: color var(--t);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.note.wrong > .content {
	color: var(--cr);
}
#GAMEPAGE > .staffs > .staff > .inner > .item.note.right > .content {
	color: var(--cg);
}
#GAMEPAGE > .staffs > .tempo {
	position: absolute;
	top: -20px;
	left: 50px;
	
	transform: translateY(-100%);
}
#GAMEPAGE > .staffs > .tempo {
	color: var(--v5);
	
	font-size: 50px;
}
#GAMEPAGE > .staffs > .tempo > .note {
	font-family: Bravura;
}
#GAMEPAGE > .staffs > .tempo > .value {
	font-family: serif;
}
#GAMEPAGE > .countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0%);
	
	filter: drop-shadow(0px 0px 15px var(--v0-8));
	
	transition: transform var(--t);
}
#GAMEPAGE > .countdown.on {
	transform: translate(-50%, -50%) scale(100%);
}
#GAMEPAGE > .countdown > .square {
	--d: 0;
	
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(calc(var(--d) * 45deg));
	
	width: 200px;
	aspect-ratio: 1 / 1;
	
	background-color: var(--v2);
	
	transition: transform var(--t);
}
#GAMEPAGE > .countdown > .value {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) translateY(-5%);
	
	color: var(--v5);
	
	font-size: 150px;
}
#GAMEPAGE > .banner {
	--fold-size: 30px;
	--fold-trail: 75px;
	
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%) translateY(-200px);
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: stretch;
	
	transition: transform var(--t);
}
#GAMEPAGE > .banner.on {
	transform: translateX(-50%) translateY(0px);
}
#GAMEPAGE > .banner > .content {
	padding: 10px 75px;
	
	background-color: var(--v3);
	color: var(--v5);
	border-radius: 0px 0px calc(var(--legacy) * 10px) calc(var(--legacy) * 10px);
	
	font-size: 30px;
}
#GAMEPAGE > .banner > .graphic {
	z-index: -1;
	
	position: absolute;
	top: 0%;
	
	height: 100%;
}
#GAMEPAGE > .banner > .graphic:nth-child(1),
#GAMEPAGE > .banner > .graphic:nth-child(2) {
	width: var(--fold-trail);
}
#GAMEPAGE > .banner > .graphic:nth-child(1) {
	left: 0%;
	transform: translate(calc(+1 * var(--fold-size)), calc(var(--fold-size) * -0.577)) translateX(-100%);
	
	background: linear-gradient(+90deg, var(--v3) 0%, var(--v2) 200%);
	border-radius: calc(var(--legacy) * 10px) 0px 0px calc(var(--legacy) * 10px);
}
#GAMEPAGE > .banner > .graphic:nth-child(2) {
	right: 0%;
	transform: translate(calc(-1 * var(--fold-size)), calc(var(--fold-size) * -0.577)) translateX(+100%);
	
	background: linear-gradient(-90deg, var(--v3) 0%, var(--v2) 200%);
	border-radius: 0px calc(var(--legacy) * 10px) calc(var(--legacy) * 10px) 0px;
}
#GAMEPAGE > .banner > .graphic:nth-child(3),
#GAMEPAGE > .banner > .graphic:nth-child(4) {
	width: var(--fold-size);
	
	background-color: var(--v2);
}
#GAMEPAGE > .banner > .graphic:nth-child(3) {
	left: 0%;
	transform: skew(0deg, -30deg) translateY(calc((var(--fold-size) / 2) * -0.577));
	
	border-radius: 0px 0px 0px calc(var(--legacy) * 10px);
}
#GAMEPAGE > .banner > .graphic:nth-child(4) {
	right: 0%;
	transform: skew(0deg, 30deg) translateY(calc((var(--fold-size) / 2) * -0.577));
	
	border-radius: 0px 0px calc(var(--legacy) * 10px) 0px;
}
#GAMEPAGE > .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 100%;
	height: 100%;
	max-width: 0%;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 10px;
	
	background-color: var(--v0-8);
	opacity: 0%;
	visibility: hidden;
	
	transition: max-width var(--t), opacity var(--t), visibility var(--t);
}
#GAMEPAGE > .inner.this {
	max-width: 100%;
	
	opacity: 100%;
	visibility: inherit;
}
#GAMEPAGE > .inner > .icon ion-icon {
	transform: translateY(-25vh) scaleX(0%);
	
	color: var(--cg);
	
	font-size: 100px;
	
	transition: transform var(--t);
}
#GAMEPAGE > .inner.this > .icon ion-icon {
	transform: translateY(0vh) scaleX(100%);
}
#GAMEPAGE > .inner > .title {
	width: 100vw;
	
	color: var(--v5);
	
	font-size: 50px;
	text-align: center;
}
#GAMEPAGE > .inner > .stars {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 5px;
}
#GAMEPAGE > .inner > .stars ion-icon {
	--i: 0;
	
	transform: scale(0%);
	
	color: var(--v3);
	
	font-size: 50px;
	
	animation: none;
	
	transition: color var(--t);
}
#GAMEPAGE > .inner.this > .stars ion-icon {
	animation: star-in var(--t) calc(var(--t) / 2 * var(--i)) forwards;
}
@keyframes star-in {
	0% {
		transform: scale(200%);
		
		opacity: 0%;
	}
	100% {
		transform: scale(100%);
		
		opacity: 100%;
	}
}
#GAMEPAGE > .inner > .stars ion-icon.this {
	color: var(--cy);
}
#GAMEPAGE > .inner > .info {
	width: min(50vw, 300px);
	margin: 20px 0px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	gap: 5px;
}
#GAMEPAGE > .inner > .info > .label {
	color: var(--v5);
	
	font-size: 16px;
}
#GAMEPAGE > .inner > .info > .bar {
	align-self: stretch;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: center;
	
	height: 40px;
	overflow: hidden;
	
	background-color: var(--v0-4);
	border-radius: calc(var(--legacy) * 10px);
}
#GAMEPAGE > .inner > .info > .bar > div {
	--size: 0;
	
	width: calc(100% * var(--size));
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	color: var(--v0-0);
	text-align: center;
	
	transition: color var(--t);
}
#GAMEPAGE > .inner > .info > .bar > div:hover {
	color: var(--v0);
}
#GAMEPAGE > .inner > .info > .bar > div.good {
	background-color: var(--cg);
}
#GAMEPAGE > .inner > .info > .bar > div.mid {
	background-color: var(--cy);
}
#GAMEPAGE > .inner > .info > .bar > div.bad {
	background-color: var(--cr);
}
#GAMEPAGE > .inner > .nav {
	width: min(50vw, 300px);
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 10px;
}
#GAMEPAGE > .inner > .nav > button {
	font-size: 16px;
}

/* lang */

#lang {
	z-index: 1;
	
	position: absolute;
	bottom: 20px;
	left: 20px;
}
#lang > button {
	padding: 10px;
}
#lang > .options {
	position: absolute;
	top: -10px;
	left: 0px;
	transform-origin: 0% 100%;
	transform: translateY(-100%) scaleY(75%) translateY(20px);
	
	width: max-content;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	
	background-color: var(--v3-4);
	border-radius: calc(var(--legacy) * 10px);
	opacity: 0%;
	visibility: hidden;
	
	transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#lang.this > .options {
	transform: translateY(-100%) scaleY(100%) translateY(0px);
	
	opacity: 100%;
	visibility: visible;
}
#lang > .options > button {
	--bg: var(--v0-0);
	
	padding: 10px;
	
	border-radius: 0px;
	
	text-align: left;
}
#lang > .options > button ion-icon {
	margin-right: 10px;
	
	visibility: hidden;
}
#lang > .options > button.this ion-icon {
	visibility: inherit;
}

/* intro haha */

@property --intro {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
@property --size-1 {
	syntax: "<length>";
	inherits: true;
	initial-value: 0;
}
@property --size-2 {
	syntax: "<length>";
	inherits: true;
	initial-value: 0;
}
#intro {
	--intro: 1;
	--size: calc(max(50vw, 50vh) * 1.41);
	--size-1: calc(var(--size) * min(1, max(0, (var(--intro) - 1))));
	--size-2: calc(var(--size) * min(1, max(0, (var(--intro) - 0))));
	
	z-index: 2;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 100%;
	height: 100%;
	
	/*
	background: radial-gradient(
		circle,
		var(--v1-0) 0,
		var(--v1-0) var(--size-1),
		var(--v1) var(--size-1),
		var(--v1) var(--size-2),
		var(--v1-0) var(--size-2),
		var(--v1-0) var(--size)
	);
	*/
	visibility: hidden;
	
	animation: intro-out calc(2 * var(--t)) forwards;
	
	transition: visibility var(--t);
}
#intro.this {
	visibility: inherit;
	
	animation: intro-in calc(2 * var(--t)) forwards;
}
@keyframes intro-in {
	0% { --intro: 0; }
	100% { --intro: 1; }
}
@keyframes intro-out {
	0% { --intro: 1; }
	100% { --intro: 2; }
}
#intro > .planet {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0%);
	
	width: 100px;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
	border: 10px solid var(--v1);
	
	background-color: var(--v5);
	
	transition: transform var(--t);
}
#intro.this > .planet {
	transform: translate(-50%, -50%) scale(100%);
}
#intro > .planet > .note {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-10deg) translate(2px, 15px);
	
	color: var(--v1);
	
	font-family: Bravura;
	font-size: 50px;
	font-weight: 700;
}
@property --ring-1 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0deg;
}
@property --ring-2 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0deg;
}
#intro > .ring {
	--ring-1: calc(360deg * min(1, max(0, (var(--intro) - 1))));
	--ring-2: calc(360deg * min(1, max(0, (var(--intro) - 0))));
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 200px;
	height: 100px;
	overflow: hidden;
	
	/*animation: ring-rotate 5s linear infinite;*/
	
	filter: drop-shadow(0px 15px 0px var(--v1)) drop-shadow(0px 30px 0px var(--v1));
}
@keyframes ring-rotate {
	0% {
		--ring-1: 0deg;
		--ring-2: 180deg;
	}
	100% {
		--ring-1: 360deg;
		--ring-2: 540deg;
	}
}
#intro > .ring.back {
	transform-origin: 50% 100%;
	transform: translate(-50%, -100%) rotate(-10deg) scaleY(25%);
}
#intro > .ring.front {
	transform-origin: 50% 0%;
	transform: translate(-50%, 0%) rotate(-10deg) scaleY(25%);
}
#intro > .ring::before {
	content: "";
	
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	width: 100%;
	aspect-ratio: 1 / 1;
	
	background: conic-gradient(
		var(--v5-0) var(--ring-1),
		var(--v5) var(--ring-1),
		var(--v5) var(--ring-2),
		var(--v5-0) var(--ring-2),
		var(--v5-0) calc(360deg + var(--ring-1))
	);
	border-radius: 100%;
	-webkit-mask: radial-gradient(#fff0 0%, #fff0 calc(70% - 20px), #fff calc(70% - 20px), #fff 100%);
}
#intro > .ring.back::before {
	top: 0%;
}
#intro > .ring.front::before {
	bottom: 0%;
}

/* notifications. */

#NOTIFICATIONS {
	z-index: 3;
	
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	
	max-width: 100vw;
	max-height: 100vh;
	padding: 0px 30px;
	overflow: auto;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	gap: 10px;
	
	filter: drop-shadow(0px 5px 5px var(--v0-8));
}

#NOTIFICATIONS > .item {
	--progress: 50%;
	
	max-height: 0px;
	
	transition: max-height var(--t);
}
#NOTIFICATIONS > .item.in {
	max-height: 25vh;
}
#NOTIFICATIONS > .item > .inner {
	position: relative;
	
	width: min(400px, 50vw);
	max-height: 25vh;
	padding: 10px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
	gap: 5px;
	
	background-color: var(--v3-c);
	opacity: 0%;
	visibility: hidden;
	
	transition: background-color var(--t), opacity var(--t), visibility var(--t);
}
#NOTIFICATIONS > .item.in > .inner {
	opacity: 100%;
	visibility: inherit;
}
#NOTIFICATIONS > .item.err > .inner {
	background-color: var(--cr-c);
}
#NOTIFICATIONS > .item.warn > .inner {
	background-color: var(--cy-c);
}
#NOTIFICATIONS > .item.succ > .inner {
	background-color: var(--cg-c);
}
#NOTIFICATIONS > .item > .inner::before {
	content: "";
	
	position: absolute;
	bottom: 0%;
	left: 0%;
	
	width: var(--progress);
	height: 3px;
	
	background-color: var(--v5);
}
#NOTIFICATIONS > .item.err > .inner::before {
	background-color: var(--cr4);
}
#NOTIFICATIONS > .item.warn > .inner::before {
	background-color: var(--cy4);
}
#NOTIFICATIONS > .item.succ > .inner::before {
	background-color: var(--cg4);
}
#NOTIFICATIONS > .item > .inner > .title {
	color: var(--v5);
}
#NOTIFICATIONS > .item > .inner > .info {
	color: var(--v5-c);
}
#NOTIFICATIONS > .item > .inner > button.close {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%) scale(0%);
	
	width: 30px;
	height: 30px;
	border-radius: 30px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	background-color: var(--v3);
	filter: drop-shadow(0px 0px 3px var(--v0-8));
	
	transition: transform var(--t), background-color var(--t);
}
#NOTIFICATIONS > .item > .inner:hover > button.close {
	transform: translate(-50%, -50%) scale(100%);
}
#NOTIFICATIONS > .item.err > .inner > button.close {
	background-color: var(--cr);
}
#NOTIFICATIONS > .item.warn > .inner > button.close {
	background-color: var(--cy);
}
#NOTIFICATIONS > .item.succ > .inner > button.close {
	background-color: var(--cg);
}
#NOTIFICATIONS > .item > .inner > button.close:not(:disabled):hover {
	background-color: var(--v5);
}
#NOTIFICATIONS > .item > .inner > button.close ion-icon {
	color: var(--v5);
	
	font-size: 20px;
	
	transition: color var(--t);
}
#NOTIFICATIONS > .item > .inner:hover > button.close:not(:disabled):hover ion-icon {
	color: var(--v0);
}